---
	title: My Little Pony
---

<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en-US' }}">
	<head>
		<!--
		<link rel="icon" href="//img1.wsimg.com/isteam/ip/4e3555a4-e462-40dd-b19e-11df021505a3/favicon/8aaeb109-a581-4acf-9ea2-dbec8baafcc9.png/:/rs=w:16,h:16,m" sizes="16x16">
		<link rel="icon" href="//img1.wsimg.com/isteam/ip/4e3555a4-e462-40dd-b19e-11df021505a3/favicon/8aaeb109-a581-4acf-9ea2-dbec8baafcc9.png/:/rs=w:24,h:24,m" sizes="24x24">
		<link rel="icon" href="//img1.wsimg.com/isteam/ip/4e3555a4-e462-40dd-b19e-11df021505a3/favicon/8aaeb109-a581-4acf-9ea2-dbec8baafcc9.png/:/rs=w:32,h:32,m" sizes="32x32">
		<link rel="icon" href="//img1.wsimg.com/isteam/ip/4e3555a4-e462-40dd-b19e-11df021505a3/favicon/8aaeb109-a581-4acf-9ea2-dbec8baafcc9.png/:/rs=w:48,h:48,m" sizes="48x48">
		<link rel="icon" href="//img1.wsimg.com/isteam/ip/4e3555a4-e462-40dd-b19e-11df021505a3/favicon/8aaeb109-a581-4acf-9ea2-dbec8baafcc9.png/:/rs=w:64,h:64,m" sizes="64x64">
		<link rel="apple-touch-icon-precomposed" href="//img1.wsimg.com/isteam/ip/4e3555a4-e462-40dd-b19e-11df021505a3/favicon/8aaeb109-a581-4acf-9ea2-dbec8baafcc9.png/:/rs=w:57,h:57,m" sizes="57x57">
		<link rel="apple-touch-icon" href="//img1.wsimg.com/isteam/ip/4e3555a4-e462-40dd-b19e-11df021505a3/favicon/8aaeb109-a581-4acf-9ea2-dbec8baafcc9.png/:/rs=w:167,h:167,m" sizes="167x167">
		<link rel="apple-touch-icon" href="//img1.wsimg.com/isteam/ip/4e3555a4-e462-40dd-b19e-11df021505a3/favicon/8aaeb109-a581-4acf-9ea2-dbec8baafcc9.png/:/rs=w:180,h:180,m" sizes="180x180">
		<link rel="apple-touch-icon" href="//img1.wsimg.com/isteam/ip/4e3555a4-e462-40dd-b19e-11df021505a3/favicon/8aaeb109-a581-4acf-9ea2-dbec8baafcc9.png/:/rs=w:144,h:144,m" sizes="144x144">
		-->
		<meta charset='utf-8'>
		<meta http-equiv='X-UA-Compatible' content="IE=edge">
		<meta name="viewport" content="width=device-width,maxium-scale=1">
		<link rel="stylesheet" type="text/css" media="screen" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
		<!--
		{% seo %}
		-->
	</head>

	<body>
		<!-- HEADER -->
		<div id="header_wrap" class="outer">
			<header class="inner">
				{% if site.github.is_project_page %}
					<a href="{{ site.github.repository_url }}">View on GitHub</a>
				{% endif %}
				<h1 id="project_title">RSC Solutions</h1>
				<h2 id="project_tagline">{{ site.description | default: site.github.project_tagline }} </h2>

				{% if site.show_downloads %}
					<section id="downloads">
						<a class="zip_download_link" href="{{ site.github.zip_url }}">has this changed???</a>
						<a class="tar_download_link" href="{{ site.github.tar_url }}">Download this</a>
					</section>
				{% endif %}
			</header>
		</div>

		<!-- Footer -->
		<div id="footer_wrap" class="outer">
			<footer class="inner">
				{% if site.github.is_project_page %}
				<p class="copyright">{{ site.title | default: site.github.repository_name }} maintained by <a href="{{ site.github.url }}">RSC Solutions</a></p>
				{% endif %}
				<p>Published with <a href="https://pages.github.com">GitHub Pages</a></p>
			</footer>
		</div>

	</body>
</html>

